<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Create Post</title>
</head>
<body>
    <div>
        Upload image
    </div>
    <div>
        <input type="file" name="image" id="image" >
    </div>
    <div>
        <label>caption</label>
        <input type="text">
    </div>
    <button id="shareButton">Share</button>

    <script src="/js/post/createPost.js" type="text/javascript"></script>
</body>
</html>