<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/vendors/grid.css" type="text/css">
    <link rel="stylesheet" href="/css/home.css" type="text/css">
    <link rel="icon" href="/images/Logo.png">
    <title> Insta-clone</title>
</head>
<body>
    <div class="header">
        <div id="headerImage">
            <a href="/"><img src="/images/instagramTextLogo.png"></a>

        </div>
        <div id="headerSearchBar">
            <input placeholder="Search">
        </div>
        <div id="headerIcons">
            <a href="/"><img src="/icons/home.png" class="icon"></a>
            <a href="/user/login"><img src="/icons/direct-empty.png" class="icon"></a>
            <a href="/user/login"><img src="/icons/discover-empty.png" class="icon"></a>
            <a href="/user/login"><img src="/icons/heart-empty.png" class="icon"></a>
            <a href="/user/login"><img src="/icons/profile-empty.png" class="icon"></a>
        </div>
    </div>
    <div class="main">
        <div id="mainLeft">
            <div id="content">
                <div id="stories">
                    <div class="story">
                        <img src="/images/ca39411f06eb_profilePics1-shrinked.jpg">
                        <div> kiarashsabahi</div>
                    </div>
                    <div class="story">
                        <img src="/images/28753707_762539037277987_6354876380445933568_n.jpg">
                        <div> nph</div>
                    </div>
                    <div class="story">
                        <img src="/images/111029409_973876733065301_5394418413574935766_n.jpg">
                        <div> jamesroot</div>
                    </div>
                    <div class="story">
                        <img src="/images/30890596_1606326482749723_2454055415701307392_n.jpg">
                        <div> officialmumbo</div>
                    </div>
                    <div class="story">
                        <img src="/images/119468893_801902870612304_751296616659470144_n.jpg">
                        <div> jayweinberg</div>
                    </div>
                    <div class="story">
                        <img src="/images/91162742_2937057159686042_5731354851141484544_n.jpg">
                        <div> jennaajoseph</div>
                    </div>
                    <div class="story">
                        <img src="/images/116128881_307642063769464_7187383068665052679_n.jpg">
                        <div> coreytaylor</div>
                    </div>

                </div>
                <div id="posts">post</div>
            </div>
        </div>
        <div id="mainRight">
            <div>profile</div>
        </div>
    </div>
</body>
</html>