<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Insta-clone</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="/css/user/signup.css">
</head>
<body>
    <div class="main">
        <div class="fields">
            <div class="fieldsMain">
                <div id="signUpField">
                    <img src="https://i.imgur.com/zqpwkLQ.png"  alt="instagram logo"/>
                    <div style="display: block">
                        <input type="text" placeholder="Email" class="formData" id="emailInput">
                        <input type="text" placeholder="Nick name" class="formData" id="nickNameInput">
                        <input type="text" placeholder="Username" class="formData" id="userNameInput">
                        <input type="text" placeholder="Password" class="formData" id="passwordInput">
                    </div>
                    <div>
                        <button class="signUpButton" type="submit" id="signUpButton">Sign up</button>
                    </div>
                    <div class= "terms" style="margin-top: 5px">
                        By signing up, you agree to our Terms , Data Policy and Cookies Policy .
                    </div>
                </div>
                <div class="sign-up">
                    Have an account? &nbsp;<a href="#" id="loginButton"> Log in </a>
                </div>
                <div>
                    <div class="get-the-app">
                        <span>Get the app.</span>
                        <div class="badge">
                            <img src="https://www.instagram.com/static/images/appstore-install-badges/badge_android_english-en.png/e9cd846dc748.png" alt="android App">
                            <img src="https://www.instagram.com/static/images/appstore-install-badges/badge_ios_english-en.png/180ae7a0bcf7.png" alt="ios app">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="bottomButtons">
            <div class="bottomButton">
                ABOUT
            </div>

            <div class="bottomButton">
                HELP
            </div>

            <div class="bottomButton">
                PRESS
            </div>

            <div class="bottomButton">
                API
            </div>

            <div class="bottomButton">
                JOBS
            </div>

            <div class="bottomButton">
                PRIVACY
            </div>

            <div class="bottomButton">
                TERMS
            </div>

            <div class="bottomButton">
                LOCATIONS
            </div>

            <div class="bottomButton">
                TOPACCOUNTS
            </div>

            <div class="bottomButton">
                HASHTAGS
            </div>

            <div class="bottomButton">
                LANGUAGES
            </div>
        </div>
        <div class="bottomCredit">
            © 2020 Insta-clone from Kiarash
        </div>
    </div>
    <script src="/js/user/signup.js"></script>
</body>
</html>